In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import re
import time
import numpy as np

In [2]:
#setting up selenium chrome driver:
import selenium 
from selenium import webdriver
driver=webdriver.Chrome(executable_path= r"C:\Users\Shivam Ghildiyal\drivers\chromedriver.exe")

#### 1.  python program to display all the header tags from ‘en.wikipedia.org/wiki/Main_Page’.

In [3]:
page = requests.get('https://en.wikipedia.org/wiki/Main_Page')
soup = BeautifulSoup(page.content, 'html.parser')

In [4]:
title = soup.find_all(['h1', 'h2', 'h3'])

In [5]:
titles = []
for i in title:
    print(i.get_text())
    titles.append(i.get_text().replace('\n', ''))

Main Page
From today's featured article
Did you know ...
In the news
On this day
Today's featured picture
Other areas of Wikipedia
Wikipedia's sister projects
Wikipedia languages
Navigation menu

Personal tools


Namespaces


Variants


Views


More


Search


Navigation


Contribute


Tools


Print/export


In other projects


Languages

In [6]:
titles

['Main Page',
 "From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages',
 'Navigation menu',
 'Personal tools',
 'Namespaces',
 'Variants',
 'Views',
 'More',
 'Search',
 'Navigation',
 'Contribute',
 'Tools',
 'Print/export',
 'In other projects',
 'Languages']

#### 2. Python program to display IMDB’s Top rated 100 movies’ data (i.e. Name, IMDB rating, Year of release) and save it in form of a CSV file.

In [7]:
imdb = requests.get('https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc')

In [8]:
soup =BeautifulSoup(imdb.content, 'html.parser')

In [9]:
name = soup.find_all('h3', class_ = 'lister-item-header')

In [10]:
number = []
year = []
movie_title = []
for i in name: 
    temp = i.get_text().replace('\n', '$')
    number.append(temp.split('$')[1].replace('.',''))
    movie_title.append(temp.split('$')[2])
    year_temp = temp.split('$')[3].replace('(', '')
    year_temp = year_temp.replace(')', '')
    year.append(year_temp)

In [11]:
rating= []
rate = soup.find_all('div', class_ = 'inline-block ratings-imdb-rating')
for i in rate:
    rating.append(i.get_text().replace('\n', ''))

In [12]:
top50 = pd.DataFrame(list(zip(number, movie_title, year, rating)), 
               columns =['Rank', 'Title', 'Year', 'Rating'])
top50.set_index('Rank', inplace = True)
top50.head()

                         Title  Year Rating
Rank
1     The Shawshank Redemption  1994    9.3
2                The Godfather  1972    9.2
3              The Dark Knight  2008    9.0
4       The Godfather: Part II  1974    9.0
5                 12 Angry Men  1957    9.0

### Top 250 : https://www.imdb.com/chart/top/?ref_=nv_mv_250

In [13]:
imdb = requests.get('https://www.imdb.com/chart/top/?ref_=nv_mv_250')
soup =BeautifulSoup(imdb.content, 'html.parser')
name = soup.find_all('td', class_ = 'titleColumn')

In [14]:
number = []
year = []
movie_title = []
for i in name: 
    temp = i.get_text().replace('\n', '$')
    
    num_temp = temp.split('$')[1].replace(' ','')
    num_temp = num_temp.replace('.','')
    number.append(num_temp)
    
    movie_title.append(temp.split('$')[2])
    
    year_temp = temp.split('$')[3].replace('(', '')
    year_temp = year_temp.replace(')', '')
    year.append(year_temp)

In [15]:
rating= []
rate = soup.find_all('td', class_ = 'ratingColumn imdbRating')
for i in rate:
    rating.append(i.get_text().replace('\n', ''))

In [16]:
top250 = pd.DataFrame(list(zip(number, movie_title, year, rating)), 
               columns =['Rank', 'Title', 'Year', 'Rating'])
top250.set_index('Rank', inplace = True)

In [17]:
top250['Title']= top250['Title'].str.lstrip() #removing the spaces in front of the title

# Top 100

In [18]:
top100 = top250.iloc[0:100]
top100.shape

(100, 3)

In [19]:
#Saving to csv file
top100.to_csv('top100_movies.csv')

#### 3 . Python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. Name, IMDB rating, Year of release) and save it in form of a CSV file.

In [20]:
url = 'https://www.imdb.com/india/top-rated-indian-movies/'

In [21]:
imdb = requests.get(url)
soup =BeautifulSoup(imdb.content, 'html.parser')
name = soup.find_all('td', class_ = 'titleColumn')

In [22]:
number = []
year = []
movie_title = []
for i in name: 
    temp = i.get_text().replace('\n', '$')
    
    num_temp = temp.split('$')[1].replace(' ','')
    num_temp = num_temp.replace('.','')
    number.append(num_temp)
    
    movie_title.append(temp.split('$')[2])
    
    year_temp = temp.split('$')[3].replace('(', '')
    year_temp = year_temp.replace(')', '')
    year.append(year_temp)

In [23]:
rating= []
rate = soup.find_all('td', class_ = 'ratingColumn imdbRating')
for i in rate:
    rating.append(i.get_text().replace('\n', ''))

In [24]:
top_ind = pd.DataFrame(list(zip(number, movie_title, year, rating)), 
               columns =['Rank', 'Title', 'Year', 'Rating'])
top_ind.set_index('Rank',inplace=True)
top_ind['Title']= top_ind['Title'].str.lstrip() 
top_indian = top_ind.iloc[0:100]
top_indian.shape

(100, 3)

In [25]:
top_indian.to_csv('top100_indian_movies.csv')

#### 4. Python program to scrap book name, author name, genre and book review of any 5 books from ‘www.bookpage.com’

link : https://bookpage.com/reviews

In [26]:
books = requests.get('https://bookpage.com/reviews')
soup = BeautifulSoup(books.content, 'html.parser')

In [27]:
#Scrapping the book title
title = []
name = soup.find_all('h4', class_ ='italic')
for i in name:
    title.append(i.get_text().replace('\n',''))

In [28]:
#scrapping author's name
author = []
name = soup.find_all('p', class_ ='sans bold')
for i in name:
    author.append(i.get_text().replace('\n',''))

In [29]:
#Scrapping the reviews
review = []
name = soup.find_all('p', class_ ='excerpt')
for i in name:
    review.append(i.get_text().replace('\n',''))

In [30]:
#scrapping genre of the book
genre = []
name = soup.find_all('p',class_='genre-links hidden-phone')
for i in name:
    genre.append(i.get_text().replace('\n',''))

In [31]:
books_reviews = pd.DataFrame(list(zip(title, author, review, genre)), 
               columns =['Title', 'Author' ,'Review', 'Genre'])

In [32]:
books_reviews.head()

,Title,Author,Review,Genre
0,★ The Seed Keeper,Diane Wilson,"The story of a bold, strong Dakhóta woman name...",Fiction / Literary Fiction
1,★ The Code Breaker,Walter Isaacson,"Like Lab Girl on steroids, The Code Breaker pa...",Nonfiction / Biography / Science
2,The Bone Maker,Sarah Beth Durst,"Twenty-five years ago, in the land of Vos, a g...",Science Fiction & Fantasy / Fantasy
3,★ How Beautiful We Were,Imbolo Mbue,Readers who enjoyed Behold the Dreamers will b...,Fiction / Literary Fiction
4,Perfect on Paper,Sophie Gonzales,Darcy Phillips is a love guru. Through her top...,YA / YA Fiction

# 5. Python program to scrap cricket rankings from ‘www.icc-cricket.com’. 
__i) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.__

In [33]:
odi =requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
soup = BeautifulSoup(odi.content, 'html.parser')

In [34]:
#Scrapping men's team list
team_men =[]
Mteam = soup.find_all('span', class_ = 'u-hide-phablet')

for i in Mteam:
    team_men.append(i.get_text())
    
team_men= team_men[0:10] #Taking top 10 teams

In [35]:
#Scrapping men's rating list
rate_men =[]
top = soup.find_all('td', class_ = 'rankings-block__banner--rating u-text-right')
top_rating =top[0].get_text().replace('\n', '')
top_rating = top_rating.replace(' ', '')
rate_men.append(top_rating)


Mrate = soup.find_all('td', class_ = 'table-body__cell u-text-right rating')
for i in Mrate:
    rate_men.append(i.get_text())
    
rate_men= rate_men[0:10] #Taking top 10 teams

In [36]:
#Scrapping number of matches and points
matches_men =[]
points_men = []
#top country is given with a different banner
topm = soup.find_all('td', class_ = 'rankings-block__banner--matches')
matches_men.append(topm[0].get_text())

topp = soup.find_all('td', class_ = 'rankings-block__banner--points')
points_men.append(topp[0].get_text())

Mmatch = soup.find_all('td', class_ = 'table-body__cell u-center-text')

In [37]:
j=0
for i in Mmatch:
    if (j%2 == 0):
        matches_men.append(i.get_text())
    else:
        points_men.append(i.get_text())
    j = j+1

In [38]:
matches_men= matches_men[0:10] #Taking top 10 matches played
points_men= points_men[0:10] #Taking top 10 points

In [39]:
points_men

['5,405',
 '6,102',
 '3,716',
 '4,344',
 '3,345',
 '3,490',
 '3,366',
 '3,297',
 '3,402',
 '1,844']

In [40]:
matches_men

['44', '52', '32', '39', '31', '35', '37', '39', '46', '31']

In [41]:
Mens_teams = pd.DataFrame(list(zip(team_men,  matches_men, points_men)), 
               columns =['Team','Matches', 'Points'])

In [42]:
Mens_teams

           Team Matches Points
0       England      44  5,405
1         India      52  6,102
2   New Zealand      32  3,716
3     Australia      39  4,344
4  South Africa      31  3,345
5      Pakistan      35  3,490
6    Bangladesh      37  3,366
7     Sri Lanka      39  3,297
8   West Indies      46  3,402
9   Afghanistan      31  1,844

__ii) Top 10 ODI Batsmen in men along with the records of their team and rating.__

https://www.icc-cricket.com/rankings/mens/player-rankings/odi

In [43]:
odi =requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi')
soup = BeautifulSoup(odi.content, 'html.parser')

In [44]:
player = []
team = []
rating = []

#Top player attributes
top_name = soup.find('div', class_ = 'rankings-block__banner--name')
player.append(top_name.get_text())

top_rate = soup.find('div', class_ = 'rankings-block__banner--rating')
rating.append(top_rate.get_text())

top_team = soup.find('div', class_ = 'rankings-block__banner--nationality')
team.append(top_team.get_text().split('\n')[2])

In [45]:
#Adding the other players
top_name = soup.find_all('td', class_ = 'table-body__cell name')
for i in top_name:
    player.append(i.get_text().replace('\n', ''))

player = player[0:10]

In [46]:
#Adding rating of other player:
top_rate = soup.find_all('td', class_ = 'table-body__cell u-text-right rating')
for i in top_rate:
    rating.append(i.get_text().replace('\n', ''))

rating = rating[0:10]

In [47]:
#Adding team of other player:
top_team = soup.find_all('td', class_ = 'table-body__cell nationality-logo')
for i in top_team:
    team.append(i.get_text().replace('\n', ''))
    
team = team[0:10]

In [48]:
Top_batsmen = pd.DataFrame(list(zip(player, team, rating)), 
               columns =['Player','Team', 'Rating'])

In [49]:
Top_batsmen

                Player Team Rating
0          Virat Kohli  IND    870
1         Rohit Sharma  IND    842
2           Babar Azam  PAK    837
3          Ross Taylor   NZ    818
4          Aaron Finch  AUS    791
5  Francois du Plessis   SA    790
6         David Warner  AUS    773
7      Kane Williamson   NZ    765
8      Quinton de Kock   SA    755
9       Jonny Bairstow  ENG    754

__iii) Top 10 ODI bowlers along with the records of their team and rating__

In [50]:
odi =requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi')
soup = BeautifulSoup(odi.content, 'html.parser')

In [51]:
player = []
team = []
rating = []

#Top player attributes
top_name = soup.find_all('div', class_ = 'rankings-block__banner--name')
player.append(top_name[1].get_text())

top_rate = soup.find_all('div', class_ = 'rankings-block__banner--rating')
rating.append(top_rate[1].get_text())

top_team = soup.find_all('div', class_ = 'rankings-block__banner--nationality')
team.append(top_team[1].get_text().split('\n')[2])

In [52]:
#adding other players
top_players = soup.find_all('td', class_ = 'table-body__cell name')
new = []
for i in top_players:
    new.append(i.get_text().replace('\n', ''))
    
for j in new[9:18]:
    player.append(j)

In [53]:
#adding other teams
top_teams = soup.find_all('td', class_ = 'table-body__cell nationality-logo')
new = []
for i in top_teams:
    new.append(i.get_text().replace('\n', ''))
    
for j in new[9:18]:
    team.append(j)

In [54]:
#adding other rating
top_rate = soup.find_all('td', class_ = 'table-body__cell u-text-right rating')
new = []
for i in top_rate:
    new.append(i.get_text().replace('\n', ''))
    
for j in new[9:18]:
    rating.append(j)

In [55]:
Top_bowler = pd.DataFrame(list(zip(player, team, rating)), 
               columns =['Player','Team', 'Rating'])

In [56]:
Top_bowler

              Player Team Rating
0        Trent Boult   NZ    722
1   Mujeeb Ur Rahman  AFG    708
2     Jasprit Bumrah  IND    700
3       Mehedi Hasan  BAN    694
4       Chris Woakes  ENG    675
5      Kagiso Rabada   SA    665
6     Josh Hazlewood  AUS    660
7  Mustafizur Rahman  BAN    658
8      Mohammad Amir  PAK    647
9        Pat Cummins  AUS    646

### 6. Python program to scrap cricket rankings from ‘www.icc-cricket.com’. 
__i) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.__

https://www.icc-cricket.com/rankings/womens/team-rankings/odi

In [57]:
wodi =requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
soup = BeautifulSoup(wodi.content, 'html.parser')

In [58]:
#Scrapping women's team list
team_w =[]
Wteam = soup.find_all('span', class_ = 'u-hide-phablet')

for i in Wteam:
    team_w.append(i.get_text())
    
team_w= team_w[0:10] #Taking top 10 teams

In [59]:
#Scrapping women's rating list
rate_w =[]
top = soup.find_all('td', class_ = 'rankings-block__banner--rating u-text-right')
top_rating =top[0].get_text().replace('\n', '')
top_rating = top_rating.replace(' ', '')
rate_w.append(top_rating)


Wrate = soup.find_all('td', class_ = 'table-body__cell u-text-right rating')
for i in Wrate:
    rate_w.append(i.get_text())
    
rate_w= rate_w[0:10] #Taking top 10 teams

In [60]:
#Scrapping number of matches and points
matches_w =[]
points_w = []
#top country is given with a different banner
topw = soup.find_all('td', class_ = 'rankings-block__banner--matches')
matches_w.append(topw[0].get_text())

topp = soup.find_all('td', class_ = 'rankings-block__banner--points')
points_w.append(topp[0].get_text())

Wmatch = soup.find_all('td', class_ = 'table-body__cell u-center-text')

In [61]:
j=0
for i in Wmatch:
    if (j%2 == 0):
        matches_w.append(i.get_text())
    else:
        points_w.append(i.get_text())
    j = j+1

In [62]:
W_teams = pd.DataFrame(list(zip(team_w,  matches_w, points_w)), 
               columns =['Team','Matches', 'Points'])
W_teams

           Team Matches Points
0     Australia      15  2,436
1         India      15  1,812
2       England      14  1,670
3  South Africa      19  2,090
4   New Zealand      15  1,384
5   West Indies      12  1,025
6      Pakistan      15  1,101
7    Bangladesh       5    306
8     Sri Lanka      11    519
9       Ireland       2     25

__ii) Top 10 women’s ODI players along with the records of their team and rating.__

https://www.icc-cricket.com/rankings/womens/player-rankings/odi

In [63]:
Wtop =requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi')
soup = BeautifulSoup(Wtop.content, 'html.parser')

In [64]:
player = []
team = []
rating = []

#Top player attributes
top_name = soup.find('div', class_ = 'rankings-block__banner--name')
player.append(top_name.get_text())

top_rate = soup.find('div', class_ = 'rankings-block__banner--rating')
rating.append(top_rate.get_text())

top_team = soup.find('div', class_ = 'rankings-block__banner--nationality')
team.append(top_team.get_text().split('\n')[2])

In [65]:
#Adding the other players
top_name = soup.find_all('td', class_ = 'table-body__cell name')
for i in top_name:
    player.append(i.get_text().replace('\n', ''))

player = player[0:10]

In [66]:
#Adding rating of other player:
top_rate = soup.find_all('td', class_ = 'table-body__cell u-text-right rating')
for i in top_rate:
    rating.append(i.get_text().replace('\n', ''))

rating = rating[0:10]

In [67]:
#Adding team of other player:
top_team = soup.find_all('td', class_ = 'table-body__cell nationality-logo')
for i in top_team:
    team.append(i.get_text().replace('\n', ''))
    
team = team[0:10]

In [68]:
Top = pd.DataFrame(list(zip(player, team, rating)), 
               columns =['Player','Team', 'Rating'])

In [69]:
Top

              Player Team Rating
0     Tammy Beaumont  ENG    765
1        Meg Lanning  AUS    749
2    Stafanie Taylor   WI    746
3       Alyssa Healy  AUS    741
4  Amy Satterthwaite   NZ    740
5    Laura Wolvaardt   SA    725
6    Smriti Mandhana  IND    721
7        Lizelle Lee   SA    717
8       Ellyse Perry  AUS    691
9        Mithali Raj  IND    691

__iii) Top 10 women’s ODI all-rounder along with the records of their team and rating.__

In [70]:
Wtop =requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi')
soup = BeautifulSoup(Wtop.content, 'html.parser')

In [71]:
player = []
team = []
rating = []

#Top player attributes
top_name = soup.find_all('div', class_ = 'rankings-block__banner--name')
player.append(top_name[1].get_text())

top_rate = soup.find_all('div', class_ = 'rankings-block__banner--rating')
rating.append(top_rate[1].get_text())

top_team = soup.find_all('div', class_ = 'rankings-block__banner--nationality')
team.append(top_team[1].get_text().split('\n')[2])

In [72]:
#adding other players
top_players = soup.find_all('td', class_ = 'table-body__cell name')
new = []
for i in top_players:
    new.append(i.get_text().replace('\n', ''))
    
for j in new[9:18]:
    player.append(j)

In [73]:
#adding other teams
top_teams = soup.find_all('td', class_ = 'table-body__cell nationality-logo')
new = []
for i in top_teams:
    new.append(i.get_text().replace('\n', ''))
    
for j in new[9:18]:
    team.append(j)

In [74]:
#adding other rating
top_rate = soup.find_all('td', class_ = 'table-body__cell u-text-right rating')
new = []
for i in top_rate:
    new.append(i.get_text().replace('\n', ''))
    
for j in new[9:18]:
    rating.append(j)

In [75]:
Top_wbowler = pd.DataFrame(list(zip(player, team, rating)), 
               columns =['Player','Team', 'Rating'])

In [76]:
Top_wbowler

            Player Team Rating
0    Jess Jonassen  AUS    804
1   Shabnim Ismail   SA    743
2     Megan Schutt  AUS    735
3   Marizanne Kapp   SA    729
4   Jhulan Goswami  IND    691
5     Poonam Yadav  IND    678
6     Ellyse Perry  AUS    666
7    Shikha Pandey  IND    662
8  Katherine Brunt  ENG    655
9   Ayabonga Khaka   SA    640

#### 7. Python program to scrape details of all the mobile phones under Rs. 20,000 listed on Amazon.in. The scraped data should include Product Name, Price, Image URL and Average Rating.

link: https://www.amazon.in/s?i=electronics&bbn=1389432031&rh=n%3A1389432031%2Cp_36%3A100000-2000000&dc&qid=1610357215&rnid=1318502031&ref=sr_pg_1

In [3]:
from selenium.common.exceptions import NoSuchElementException

In [4]:
url = '''https://www.amazon.in/s?i=electronics&bbn=1389432031&rh=n%3A1389432031%2Cp_36%3A100000-2000000&dc&qid=1610357215&rnid=1318502031&ref=sr_pg_1'''
driver.get(url)

In [5]:
#getting the maximum number of pages
#for p in driver.find_elements_by_xpath('//ul[class="a-pagination"]/li[6]'):
for p in driver.find_elements_by_xpath('//*[@id="search"]/div[1]/div[2]/div/span[3]/div[2]/div[25]/span/div/div/ul/li[6]'):
    max_pages= int(p.text)

In [6]:
max_pages

123

In [98]:
name = []
price = []
im_link = []
rate= []

for i in range(1,max_pages+1):
    for j in driver.find_elements_by_xpath('//a[@class="a-link-normal a-text-normal"]'):
        name.append(j.text)
    
    for k in driver.find_elements_by_xpath('//span[@class="a-price"]'):
        if len(k.text) != 0: 
            price.append(k.text)
        else:
            price.append('None')
            
    for l in driver.find_elements_by_xpath('//img[@class="s-image"]'):
        im_link.append(l.get_attribute('src'))
    
    for m in driver.find_elements_by_xpath('//div[@class="a-row a-size-small"]/span[1]'):
        rate.append(m.get_attribute('aria-label'))
    
    
    driver.find_element_by_xpath('//ul[@class="a-pagination"]/li[7]').click()
    time.sleep(5)

In [99]:
len(name), len(price), len(im_link), len(rate)

(3048, 3048, 3048, 3048)

In [100]:
mobile =pd.DataFrame(list(zip(name, price, im_link, rate)), columns = ['model name', 'price', 'image link', 'rating'])

In [148]:
mobile.head()

,model name,price,image link,rating
0,"Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage)","₹8,799",https://m.media-amazon.com/images/I/71A9Vo1Bat...,4.0 out of 5 stars
1,"Redmi 9 Power (Blazing Blue, 4GB RAM, 64GB Sto...","₹10,499",https://m.media-amazon.com/images/I/71hEzQGO5q...,3.9 out of 5 stars
2,Redmi 9 Power (Mighty Black 4GB RAM 64GB Stora...,"₹10,499",https://m.media-amazon.com/images/I/71hEzQGO5q...,3.9 out of 5 stars
3,"Redmi Note 9 Pro (Aurora Blue, 4GB RAM, 64GB S...","₹12,999",https://m.media-amazon.com/images/I/811axeBSeR...,4.2 out of 5 stars
4,"Samsung Galaxy M31 (Space Black, 6GB RAM, 128G...","₹16,499",https://m.media-amazon.com/images/I/71OxJeyywS...,4.2 out of 5 stars

## finding the price of mobiles that does not show price on the main page

In [ ]:
name_a = []
price_a = []
im_link_a = []
rate_a= []

for i in range(1,max_pages+1):
    for j in driver.find_elements_by_xpath('//a[@class="a-link-normal a-text-normal"]'):
        name_a.append(j.text)
    
    for k in driver.find_elements_by_xpath('//span[@class="a-price"]'):
        if len(k.text) != 0: 
            price_a.append(k.text)
        else:
            url = 
            driver2 =  
            price_a.append('None')
            
    for l in driver.find_elements_by_xpath('//img[@class="s-image"]'):
        im_link_a.append(l.get_attribute('src'))
    
    for m in driver.find_elements_by_xpath('//div[@class="a-row a-size-small"]/span[1]'):
        rate_a.append(m.get_attribute('aria-label'))
    
    
    driver.find_element_by_xpath('//ul[@class="a-pagination"]/li[7]').click()
    time.sleep(5)

#### 8. Python program to extract information about the local weather from the National Weather Service website of USA, https://www.weather.gov/ for the city, San Francisco. Need to extract data about 7 day extended forecast display for the city. The data should include period, short description, temperature and description.

In [101]:
climate = requests.get('https://forecast.weather.gov/MapClick.php?textField1=37.78&textField2=-122.42#.YD9v2WgzY2x')
soup = BeautifulSoup(climate.content, 'html.parser')

In [102]:
#Scrapping time period
period =[]
time  = soup.find_all('div', class_ = 'col-sm-2 forecast-label') 
for i in time:
    period.append(i.get_text(separator=" ").replace('\n', ''))

In [103]:
#scrapping entire description
description=[]
sdesc  = soup.find_all('div', class_ = 'col-sm-10 forecast-text')
for desc in sdesc:
    description.append(desc.get_text())

In [104]:
#Extracting short description from the description
short_description = []
s_d= []
for i in range(len(description)):
    s_d.append(description[i].split(',')[0])

for sd in s_d:
    if sd.__contains__('.'):
        short_description.append(sd.split('.')[1])
    else:
        short_description.append(sd)

In [105]:
short_description

['Rain before 11pm',
 'Showers and possibly a thunderstorm',
 'A chance of rain and thunderstorms before 11pm',
 'Mostly sunny',
 'Mostly clear',
 'Sunny',
 'Mostly clear',
 'Mostly sunny',
 '  Mostly cloudy',
 'A chance of rain',
 '  Mostly cloudy',
 '  Mostly sunny',
 '  Partly cloudy',
 '  Mostly sunny']

In [106]:
#Extracting temprature from the description
from nltk.tokenize import regexp_tokenize
temprature = []
for j in range(len(description)):
    for i in description[j].split(','):
        if(i.__contains__('low')):
            faren = (regexp_tokenize(i,"[0-9]+"))
            if (len(faren) != 0): 
                print(f"low at {faren[0]} °F" )
                temprature.append(f"low at {faren[0]} °F" )
        elif(i.__contains__('high')):
            faren = (regexp_tokenize(i,"[0-9]+"))
            if (len(faren) != 0): 
                print(f"high at {faren[0]} °F" )
                temprature.append(f"high at {faren[0]} °F" )

low at 42 °F
high at 58 °F
low at 44 °F
high at 62 °F
low at 45 °F
high at 61 °F
low at 46 °F
high at 59 °F
low at 44 °F
high at 59 °F
low at 44 °F
high at 62 °F

In [107]:
temp = pd.DataFrame(list(zip(period,short_description,temprature, description)), 
               columns =['Day','Weather','Temprature', 'Description'])
temp

,Day,Weather,Temprature,Description
0,Tonight,Rain before 11pm,low at 42 °F,"Rain before 11pm, then showers and possibly a ..."
1,Wednesday,Showers and possibly a thunderstorm,high at 58 °F,"Showers and possibly a thunderstorm, mainly be..."
2,Wednesday Night,A chance of rain and thunderstorms before 11pm,low at 44 °F,A chance of rain and thunderstorms before 11pm...
3,Thursday,Mostly sunny,high at 62 °F,"Mostly sunny, with a high near 58. North north..."
4,Thursday Night,Mostly clear,low at 45 °F,"Mostly clear, with a low around 44. West north..."
5,Friday,Sunny,high at 61 °F,"Sunny, with a high near 62."
6,Friday Night,Mostly clear,low at 46 °F,"Mostly clear, with a low around 45."
7,Saturday,Mostly sunny,high at 59 °F,"Mostly sunny, with a high near 61."
8,Saturday Night,Mostly cloudy,low at 44 °F,A slight chance of rain after 5am. Mostly clo...
9,Sunday,A chance of rain,high at 59 °F,"A chance of rain, mainly after 11am. Partly s..."
10,Sunday Night,Mostly cloudy,low at 44 °F,"A chance of rain. Mostly cloudy, with a low a..."
11,Monday,Mostly sunny,high at 62 °F,"A chance of rain. Mostly sunny, with a high n..."

#### 9. Python program to scrape ‘software developer’ job listings from ‘Monster.com’ upto 5 pages.

In [108]:
url = 'https://www.monsterindia.com/srp/results?query=Software%20Developer&searchId=a228838f-5d1a-452e-928d-74e3d587a7f9'
driver.get(url)

In [146]:
company =[]
title = []
location = []
experience=[]
salary=[]
posted=[]
description=[]

for i in range(5):
    for j in driver.find_elements_by_xpath('//span[@class="company-name"]'):
        company.append(j.text)

    for k in driver.find_elements_by_xpath('//h3[@class="medium"]/a[1] | //h3[@class="medium padd-sponsr"]/a[1]'):
        title.append(k.text)
    
    for l in driver.find_elements_by_xpath('//div[@class="col-xxs-12 col-sm-5 text-ellipsis"]'):
        location.append(l.text)
    
    for m in driver.find_elements_by_xpath('//div[@class="exp col-xxs-12 col-sm-3 text-ellipsis"]'):
        experience.append(m.text)
    

    for n in driver.find_elements_by_xpath('//div[@class="package col-xxs-12 col-sm-4 text-ellipsis"]'):
        salary.append(n.text)    

    for o in driver.find_elements_by_xpath('//p[@class="job-descrip"]'):
        description.append(o.text)
    
    for p in driver.find_elements_by_xpath('//span[@class="posted"]'):
        if p.text != '|':
            posted.append(p.text)
    driver.find_element_by_xpath('//div[@class="srp-navigation ib"]/a[2]').click()
    time.sleep(5)

In [149]:
monster = pd.DataFrame(list(zip(company, title, location, experience, salary, posted, description)), 
                       columns = ['Company Name', 'Job Title', 'Location', 'Experience Required', 'Compensation', 'Posting duration', 'Description'])

In [150]:
monster.head(10)

,Company Name,Job Title,Location,Experience Required,Compensation,Posting duration,Description
0,Applicantz Inc,C++ Software Engineer,"Bengaluru / Bangalore, Remote",10-20 Years,Not Specified,Posted: 3 hours ago,"Hiring, C++ Software Engineer in India for a R..."
1,Digitalveli Technologies,"Full Stack Developer - Java, C++",Chennai,5-9 Years,Not Specified,Posted: 9 hours ago,"SE with min 5+ yrs of experience in Java, C++,..."
2,Heylus Hr Private Limited,C#.Net with React.Js / Node.JS,Pune,4-10 Years,Not Specified,Posted: 8 hours ago,"Skills: C#, .Net + HTML5, CSS3 + JavaScript + ..."
3,Career Mantra Management Services,Top MNC & PVT Ltd Companies Required Java Deve...,"Mumbai, Pune",0-3 Years,"2,40,000-6,00,000 INR Per Annum",Posted: 8 hours ago,Post : Java Developer Engineer Salary : 2.4 To...
4,Applicantz Inc,Anaplan Engineer,Bengaluru / Bangalore,2-7 Years,Not Specified,Posted: 3 hours ago,"Hiring, Anaplan Engineer in Bengaluru, India"
5,3i Infotech Limited,Plsql/ SQL/Oracle Developer,"Mumbai, Mumbai City, Navi Mumbai, Thane",2-10 Years,Not Specified,Posted: 5 hours ago,Plsql/ SQL/Oracle Developer
6,Infomedia Solutions And Consultant,Python Developers Fresher,Pune,Fresher,Not Specified,Posted: 7 hours ago,Requirement for the post of python developers
7,Venhan Technologies Private Limited,Java SpringBoot Developer with Microservices,"Bengaluru / Bangalore, Hyderabad / Secunderabad",3-8 Years,Not Specified,Posted: 3 hours ago,Java with Springboot and Microservices
8,Silaris Informations Private Limited,Software Developer Software Engineer,Delhi,2-12 Years,Not Specified,Posted: 14 days ago,Urgent opening for Software Developer for Sila...
9,Biz Industries,Software Engineer For Freshers,Mumbai,0-2 Years,"1,50,000-2,50,000 INR Per Annum",Posted: 16 hours ago,Software Engineer

#### 10. Python program to scrape ‘data scientist’ job listings for location ‘New Delhi’ from ‘Monster.com’. It should include all the jobs listed for the next 5 pages.

In [151]:
url = 'https://www.monsterindia.com/srp/results?query=Data%20Scientist&locations=Delhi&searchId=e834cd43-aeb8-4ff6-8a14-b2bf71efd413'
driver.get(url)

In [152]:
acompany =[]
atitle = []
alocation = []
aexperience=[]
asalary=[]
aposted=[]
adescription=[]

for i in range(5):
    for j in driver.find_elements_by_xpath('//span[@class="company-name"]'):
        acompany.append(j.text)

    for k in driver.find_elements_by_xpath('//h3[@class="medium"]/a[1] | //h3[@class="medium padd-sponsr"]/a[1]'):
        atitle.append(k.text)
    
    for l in driver.find_elements_by_xpath('//div[@class="col-xxs-12 col-sm-5 text-ellipsis"]'):
        alocation.append(l.text)
    
    for m in driver.find_elements_by_xpath('//div[@class="exp col-xxs-12 col-sm-3 text-ellipsis"]'):
        aexperience.append(m.text)
    
    for n in driver.find_elements_by_xpath('//div[@class="package col-xxs-12 col-sm-4 text-ellipsis"]'):
        asalary.append(n.text)    

    for o in driver.find_elements_by_xpath('//p[@class="job-descrip"]'):
        adescription.append(o.text)
    
    for p in driver.find_elements_by_xpath('//span[@class="posted"]'):
        if p.text != '|':
            aposted.append(p.text)
    driver.find_element_by_xpath('//div[@class="srp-navigation ib"]/a[2]').click()
    time.sleep(5)

In [153]:
amonster = pd.DataFrame(list(zip(acompany, atitle, alocation, aexperience, asalary, aposted, adescription)), 
                       columns = ['Company Name', 'Job Title', 'Location', 'Experience Required', 'Compensation', 'Posting duration', 'Description'])
amonster.head()

,Company Name,Job Title,Location,Experience Required,Compensation,Posting duration,Description
0,Structured Learning Assistance Consultants Ind...,Data Analyst / Fresher / Data Scientist / Grad...,"Delhi, Gurgaon / Gurugram",0-5 Years,Not Specified,Posted: 14 hours ago,Fresher Can Apply: Call @ 8586804205 | 9999340492
1,Company Name Confidential,Data Scientist - Machine Learning,"Delhi, Gurgaon / Gurugram",3-6 Years,"3,60,000-5,80,000 INR Per Annum",Posted: 30+ days ago,We want a data scientist.......................
2,Structured Learning Assistance Consultants Ind...,Data Analyst / Fresher / Data Scientist / Grad...,"Delhi, Gurgaon / Gurugram",0-5 Years,Not Specified,Posted: 15 days ago,Fresher Can Apply: Call @ 9999340492 | 8745833...
3,Structured Learning Assistance Consultants Ind...,Data Analyst – Fresher – Data Scientist – Grad...,"Delhi, Gurgaon / Gurugram",0-5 Years,Not Specified,Posted: 30+ days ago,Fresher Can Apply: Call @ 7303778896 @ https:/...
4,Structured Learning Assistance Consultants Ind...,Data Analyst / Fresher / Data Scientist / Grad...,"Delhi, Gurgaon / Gurugram",0-5 Years,Not Specified,Posted: 30+ days ago,Fresher Can Apply: Call @ 9999340492 | 8077828...

In [154]:
amonster['Location'].unique()

array(['Delhi, Gurgaon / Gurugram', 'Delhi, Noida', 'Delhi, Ghaziabad',
       'Delhi', 'Delhi, Pune', 'Delhi, Hyderabad / Secunderabad',
       'Bengaluru / Bangalore, Delhi', 'Ahmedabad, Delhi',
       'Delhi, Mumbai', 'Delhi, Mumbai, Mumbai City, Navi Mumbai, Thane',
       'Chennai, Delhi', 'Delhi, Faridabad', 'Delhi, Lucknow',
       'Delhi, Vijayawada', 'Delhi, Mandya', 'Delhi, Kashipur',
       'Delhi, Dehradun', 'Delhi, Thane', 'Delhi, Kolkata',
       'Delhi, Mumbai City', 'Delhi, Guntur', 'Delhi, Navi Mumbai',
       'Delhi, Gandhinagar'], dtype=object)

In [155]:
amonster['Compensation'].unique()

array(['Not Specified', '3,60,000-5,80,000 INR Per Annum',
       '1,50,000-4,80,000 INR Per Annum',
       '4,50,000-6,50,000 INR Per Annum',
       '5,00,000-10,00,000 INR Per Annum',
       '2,40,000-3,80,000 INR Per Annum',
       '2,80,000-4,00,000 INR Per Annum',
       '1,00,000-1,50,000 INR Per Annum',
       '11,00,000-24,00,000 INR Per Annum',
       '4,50,000-8,50,000 INR Per Annum',
       '2,20,000-3,50,000 INR Per Annum',
       '2,10,000-3,50,000 INR Per Annum',
       '2,40,000-6,00,000 INR Per Annum',
       '3,00,000-6,00,000 INR Per Annum',
       '2,20,000-3,40,000 INR Per Annum',
       '3,30,000-4,30,000 INR Per Annum',
       '3,20,000-4,30,000 INR Per Annum',
       '3,00,000-8,00,000 INR Per Annum',
       '2,80,000-3,60,000 INR Per Annum',
       '5,50,000-6,50,000 INR Per Annum',
       '1,00,000-2,40,000 INR Per Annum',
       '1,60,000-2,40,000 INR Per Annum',
       '3,60,000-5,90,000 INR Per Annum',
       '1,30,000-2,40,000 INR Per Annum',
       '2,29,999-4,30,000 INR Per Annum',
       '1,80,000-2,40,000 INR Per Annum',
       '3,50,000-4,50,000 INR Per Annum',
       '2,50,000-4,50,000 INR Per Annum',
       '5,09,999-7,20,000 INR Per Annum',
       '1,50,000-2,50,000 INR Per Annum',
       '4,59,999-7,80,000 INR Per Annum',
       '3,80,000-5,60,000 INR Per Annum',
       '1,40,000-3,10,000 INR Per Annum',
       '2,10,000-3,30,000 INR Per Annum',
       '3,00,000-5,00,000 INR Per Annum',
       '1,50,000-3,40,000 INR Per Annum',
       '5,60,000-6,80,000 INR Per Annum',
       '1,60,000-2,80,000 INR Per Annum',
       '1,50,000-5,50,000 INR Per Annum',
       '6,00,000-11,00,000 INR Per Annum',
       '3,40,000-5,60,000 INR Per Annum',
       '4,70,000-5,80,000 INR Per Annum',
       '1,70,000-2,10,000 INR Per Annum',
       '1,40,000-4,20,000 INR Per Annum',
       '1,10,000-5,40,000 INR Per Annum',
       '1,80,000-2,20,000 INR Per Annum',
       '1,60,000-4,50,000 INR Per Annum'], dtype=object)